.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}
.login > img{
    width: 50%;
}

.login > a{
    padding: 20px;
    background-color: green;
    border-radius: 99px;
    text-decoration: none;
    color: white;
    font-weight: 400;

}