.sidebar{
    border: 1px solid black;
    height: 100vh;
    flex: 0.2;
    min-width: 230px;
    background: #040404;    
    color:white
}

.sidebar__logo{
    margin-right: auto ;
    height: 70px;
    padding: 10px;
}